Page {
    background-size: 50% 33%;
    background-image: url("res://app_background");
    font-size: 24;
}

.button {
    background-color: papayawhip;
}

.subtext {
    color: #b4b4b4;
    font-size: 12;
}