Page {
    background-size: 50% 33%;
    background-image: url("res://app_background");
    font-size: 24;
}

.button {
    background-color: papayawhip;
}

.subtext {
    color: #b4b4b4;
    font-size: 12;
}

StackLayout:playSound {
    animation-name: activeSelection;
    animation-duration: 1s;
}

@keyframes activeSelection {
    from {
        background-color: rgb(255, 204, 102, 1);
    }
    to {
        background-color: rgba(255, 165, 0, 0);
    }
}
